/* JFX TextField */
.jfx-text-field
{
    -fx-background-color: white;
    -fx-border-color: #7a7a7a;
    -fx-border-radius: 1.4;
    -fx-border-width: 2;
}

.jfx-text-field:hover
{

}

.jfx-text-field:focused
{
    -fx-border-color: #007ACC;
}

/* JFX PasswordField */
.jfx-password-field
{
    -fx-background-color: white;
    -fx-border-color: #7a7a7a;
    -fx-border-radius: 1.4;
    -fx-border-width: 2;
}

.jfx-password-field:hover
{

}

.jfx-password-field:focused
{
    -fx-border-color: #007ACC;
}

/* Button */
.Button
{
    -fx-text-fill: white;
    -fx-font: “tahoma Bold”;
    -fx-base: #706e6a;
    -fx-wrap-text: true;
    -fx-backgroundRadius: 10;
    -fx-effect: dropshadow( three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0,1);
}

.Button:hover
{
    -fx-background-color: linear-gradient(#706e6a, #888888);
}

/* Radio button */
.radio-button:selected .radio
{
    -fx-border-color: #15171c;
    -fx-border-radius: 130px;
}