.search-box
{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}

.transparent
{
    -fx-background-color: #FFFFFF;
}

.search-button
{
    -fx-background-color: #71a6e0;
    -fx-background-radius: 30;
}

.search-button:hover
{
    -fx-background-color: linear-gradient(#8bcafa, #daeffb);
}

.right-bar
{
    -fx-background-color: #D3D3D3;
}

.shadow
{
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.1), 10.0, 0.0, 0.0, 10.0);
}

.connection-button
{
    -fx-background-color: #71a6e0;
    -fx-background-radius: 30;
    -fx-effect: dropshadow( three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0,1);
    -fx-wrap-text: true;
}

.chosen-advertisement
{
    -fx-background-color: #b4e1fb;
    -fx-background-radius: 30;
}

.menu-bar
{
    -fx-background-radius: 10;
}

.menu-bar:hover
{
    -fx-background-color: linear-gradient(#daeffb, #e2e5e6);
}

.buttonMain
{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #99b7d7 0%, #71a6e0 100%),
            #71a6e0,
            #99b7d7,
            radial-gradient(center 50% 50%, radius 100%, #71a6e0, #99b7d7);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}

.buttonMain:hover
{
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #9b9d9e 0%, #7a7c7d 100%),
            #7a7c7d,
            #9b9d9e,
            radial-gradient(center 50% 50%, radius 100%, #9b9d9e, #7a7c7d);
}

.buttonMain:pressed
{
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.buttonMain Text
{
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 2em;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color : #dddddd;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover
{
    -fx-background-color : #9e9e9e;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar
{
    -fx-focus-color: transparent;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.scroll-bar:vertical:focused
{
    -fx-background-color: transparent;
}

.newButton
{
    -fx-transition: all .5s ease;
    -fx-color: #fff;
    -fx-border: 3px solid white;
    -fx-font-family:'Montserrat', sans-serif;
    -fx-text-transform: uppercase;
    -fx-text-align: center;
    -fx-line-height: 1;
    -fx-font-size: 17px;
    -fx-background-color : transparent;
    -fx-padding: 10px;
    -fx-outline: none;
    -fx-border-radius: 4px;
}

.newButton:hover
{
    -fx-color: #001F3F;
    -fx-background-color: #fff;
}

.text-id {
    -fx-font-smoothing-type: lcd;
    -fx-fill: darkblue;
    -fx-font-size: 17pt;
}
